* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: black;
}

body {
  margin: 0;
  background-color: #272729;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 5px;
  margin: 0 0 50px;
  background-color: #3a3a3c;
  color: white;
}

.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guess-game .game-area .inputs > div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guess-game .game-area .inputs > div span {
  font-size: 30px;
  margin-right: 15px;
  font-weight: bold;
  color: white;
}

.guess-game .game-area .inputs input {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 50px;
  caret-color: var(--primary-color);
  background-color: #3a3a3c;
  border: none;
  color: white;
}

.guess-game .game-area .inputs input:focus {
  outline: #ccc;
}

.guess-game .game-area .inputs input.in-place {
  background-color: #538d4e;
  border: #538d4e;
}

.guess-game .game-area .inputs input.not-in-place {
  background-color: #b59f3b;
  border: #b59f3b;
}

.guess-game .game-area .inputs input.wrong {
  background-color: #3a3a3c;
  border: #3a3a3c;
}

.guess-game .game-area .inputs .disable-inputs {
  opacity: 0.5;
  pointer-events: none;
}

.guess-game .game-area .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin: 30px auto;
  gap: 10px;
}

.guess-game .game-area .control .check {
  background-color: #538d4e;
}

.guess-game .game-area .control .hint {
  background-color: #009688;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.guess-game .game-area .control button {
  border: none;
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.guess-game .game-area .control button:disabled {
  background-color: gray;
  opacity: 0.4;
  cursor: no-drop;
}

.key-colors {
  color: white;
}

.key-colors .key-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #2b2b2c;
  margin-bottom: 10px;
}

.key-colors .key-color .key {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.key-colors .key-color .key.in-place {
  background-color: #538d4e;
}

.key-colors .key-color .key.not-in-place {
  background-color: #b59f3b;
}

.key-colors .key-color .key.wrong {
  background-color: #3a3a3c;
}

.key-colors .key-color .key-text {
  font-size: 20px;
  font-weight: bold;
}

.message {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.message span {
  font-weight: bold;
  display: block;
  font-size: 50px;
  color: #538d4e;
  text-transform: capitalize;
  margin-top: 5px;
}

.message p {
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3a3a3c;
  color: white;
}
/*# sourceMappingURL=style.css.map */